

.listNumber {
    overflow: hidden;
}

.listNumber p {
    width: 50px;
    height: 50px;
    float: left;
    background-color: #10192a;
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.listNumber p:hover {
    background-color: #7ddaca;
}

.topics {
    overflow: hidden;
}

.topics .topic, .topics .topicsText {
    float: left;
}

.noData {
    /* display: none;*/
    color: #f00;
}
.quizPutTag{
  border: 1px solid #7e8da6;
}
